<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khain | Rapid Translate API</title>
    <link rel="icon" href="https://khain.app/icon.png?b9d8df012c879ad6" type="image/png" sizes="125x124">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="p-5 font-[Noto_Sans_Thai]">
    <h1 class="text-3xl mb-2 font-bold">Welcome, We Great to see you there!</h1>
    <h3 class="text-xl">Khain | Rapid Translate API Gateway</h3>
    <div class="rounded-sm px-2 py-1 bg-green-100 items-center relative text-green-500 w-fit mt-2 flex gap-2">
        <div class="size-2  animate-pulse bg-green-500"></div>
        <div class="">
            Running
        </div>
    </div>
    <div class="max-w-3xl mt-10 w-full">
        <h1 class="text-xl  mb-6">Language Translation Options</h1>

        <div class="overflow-x-auto ">
            <table class="min-w-full  bg-white shadow-md rounded-lg overflow-hidden">
                <thead class="bg-gray-100 border-b">
                    <tr>
                        <th class="py-3 px-6 text-left text-sm font-medium text-gray-700">Code</th>
                        <th class="py-3 px-6 text-left text-sm font-medium text-gray-700">Translation</th>
                        <th class="py-3 px-6 text-left text-sm font-medium text-gray-700">Description</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    <tr class="hover:bg-gray-50">
                        <td class="py-4 px-6 text-sm font-medium text-gray-900">th - en</td>
                        <td class="py-4 px-6 text-sm text-gray-700">Thai to English</td>
                        <td class="py-4 px-6 text-sm text-gray-500">Translate from Thai language to English</td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="py-4 px-6 text-sm font-medium text-gray-900">en - th</td>
                        <td class="py-4 px-6 text-sm text-gray-700">English to Thai</td>
                        <td class="py-4 px-6 text-sm text-gray-500">Translate from English language to Thai</td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="py-4 px-6 text-sm font-medium text-gray-900">th - zh</td>
                        <td class="py-4 px-6 text-sm text-gray-700">Thai to Chinese</td>
                        <td class="py-4 px-6 text-sm text-gray-500">Translate from Thai language to Chinese</td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="py-4 px-6 text-sm font-medium text-gray-900">zh - th</td>
                        <td class="py-4 px-6 text-sm text-gray-700">Chinese to Thai</td>
                        <td class="py-4 px-6 text-sm text-gray-500">Translate from Chinese language to Thai</td>
                    </tr>
                    <tr class="hover:bg-gray-50">
                        <td class="py-4 px-6 text-sm font-medium text-gray-900">th - fr</td>
                        <td class="py-4 px-6 text-sm text-gray-700">Thai to French</td>
                        <td class="py-4 px-6 text-sm text-gray-500">Translate from Thai language to French</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>